FROM apache/airflow:2.10.4-python3.12
%{ if target == "local" ~}
RUN pip install --no-cache-dir apache-airflow-providers-docker
%{ else ~}
RUN pip install --no-cache-dir apache-airflow-providers-google
%{ endif ~}
